:root{

    --ff-all : 'Rubik', sans-serif;

    --ff-body: var(--ff-all);

    --fw-regular: 400;
    --fw-medium : 500;

    --fs-100: 1rem; /* 18 button and body px*/
    --fs-200:1.125rem; /* 20 h3 px*/
    --fs-300: 1.875rem; /* 34 h2 px*/
    --fs-400: 2.5rem; /* 40 h1 px*/

    --fs-body:var(--fs-100);
    --fs-button:var(--fs-100);
    --fs-nav:var(--fs-100);

    --clr-soft-blue: hsl(231, 69%, 60%);
    --clr-soft-red:hsl(0, 94%, 66%);
    --clr-dark-red:hsl(0, 100%, 45%);

    --clr-grayish-blue:hsl(229, 8%, 60%);
    --clr-dark-blue:hsl(229, 31%, 21%);

    --clr-black:#000000;
    --clr-white:#ffffff;
}

/** reset **/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*====screen reader style=====*/
.visually-hidden{
    position: absolute;
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0,0,0,0) !important;
      white-space: nowrap !important;
      border: 0 !important;
  }


/**-- utility classes---*/
body{
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    overflow-x: hidden;
}
.bg-soft-blue{
    background-color: var(--clr-soft-blue);
}
.bg-dark-blue{
    background-color: var(--clr-dark-blue);
}
h1{
    font-size: var(--fs-400);
    color: var(--clr-black);
}
h2{
    font-size: var(--fs-300);
    color: var(--clr-black);
}
h3{
    font: var(--fs-200);
    color: var(--clr-black);
}
a{
    font-size: 14px;
}
/*** general style ***/
.container{
    --max-width:1110px;
    --padding:1rem;

    width: min(var(--max-width), 100% - (var(--padding)*4));
    margin-inline: auto;
}
.opacity{
    opacity: 0.6;
}
.btn-blue{
    background-color: var(--clr-soft-blue);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    color: #ffffff;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
}
.btn-blue:hover,
.btn-blue:focus{
    background-color: var(--clr-white);
    color: var(--clr-soft-blue);
    border: 1px solid var(--clr-soft-blue);
}
/** page **/
.backdrop{
    display: none;
}
header{
    padding-top: 1rem;
}


/**-- navigation**/

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
    gap:2.5rem;
    text-transform: uppercase;
}
.navigation li a{
    color: var(--clr-dark-blue);
    opacity: .9;
    font-weight: var(--fw-medium);
}
.navigation li a:hover{
    color: var(--clr-soft-red);
}
.navigation li .nav-btn {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: var(--clr-soft-red);
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
}
.navigation li .nav-btn:hover{
    background-color: var(--clr-white);
    color: var(--clr-soft-red);
    border: 2px solid var(--clr-soft-red);
}
.navigation .social-icons{
    display: none;
}
.mobile-menu-toggle{
    display: none;
}

/** hero**/

.hero{
    margin-top: 5rem;
}
.hero-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2rem;
}
.hero .hero-info{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
}
.hero .hero-info .buttons{
    display: flex;
    gap:1rem;
}

.btn-grey{
    background-color: #e0e0e0;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    color: var(--clr-black);
    box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
}
.btn-grey:hover,
.btn-grey:focus{
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
}


/** extension*/

.extension{
    margin-top: 5rem;
}
.extension-intro{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
    text-align: center;
    margin-bottom: 4rem;
}
.extension .extension-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.extension .extension-card .card{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap:1.5rem;
    border-radius: 8px;
    box-shadow: 1px 6px 20px rgb(0 0 0 / 10%);
    padding: 1rem 0.5rem;
    width: 250px;
    height: 350px;
}
.extension .extension-card .card p{
    font-size: 12px;
}
.extension .extension-card .card:nth-child(1){
    margin-right: 1rem;
}
.extension .extension-card .card:nth-child(2){
    margin-right: 1rem;
    margin-top: 5rem;
}
.extension .extension-card .card:nth-child(3){
    margin-right: 1rem;
    margin-top: 10rem;
}


/* features*/
.features{
    margin-top: 5rem;
}
.features .features-intro{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5rem;
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 7rem;
}

.features .tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.features .tabs li{
    font-size: var(--fs-100);
    opacity: 0.6;
    position: relative;
    cursor: pointer;
}
.features .tabs li::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 10px;
    height: 1px;
    width: 100%;
    background: var(--clr-grayish-blue);
}
.features .tabs .active::after{
    content: '';
    position: absolute;
    top: 38px;
    left: 40px;
    height: 3px;
    width: 0%;
    background: var(--clr-dark-red);
    animation: red-line 250ms ease-in-out forwards;
}
@keyframes red-line {
    to {
      width: 70%;
    }
  }
  
  
.features .tab-container {
    margin-top: 4rem;
}
.features .tab-container .tab-content{
    display: none;
}
.features .tab-container .active{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.features .tab-container .tab-content .image-info{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;   
}
.features .tab-container .tab-content .image-info a{
    margin-right: auto;
}



/*Faq*/

.faq{
    margin-top: 5rem;
}
.faq .faq-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5rem;
}
.faq .faq-wrapper h2, .faq .faq-wrapper p{
    text-align: center;
}
.accordion{
    padding: 0 12rem;
}
.accordion .accordion-item{
    border-bottom: 1px solid black;
}
.accordion .accordion-item .accordion-heading{
    font-size: var(--fs-100);
    padding-left: 2rem;
    opacity: 0.8;
}
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--clr-black);
    font-size: var(--fs-200);
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: var(--clr-soft-red);
  }
  
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: url(./images/icon-arrow.svg);
    top: 0;
    left: 5px;
  }
 
  .accordion button[aria-expanded='true'] {
    color: var(--clr-black);
  }
  .accordion button[aria-expanded='true'] .icon::before {
    display: block;
    position: absolute;
    content: url(./images/icon-arrow-red.svg);
    top: 0;
    left: 5px;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: var(--fs-100);
    font-weight: var(--fw-regular);
    margin-bottom: 2rem;
    opacity: 0.5;
  }
  .faq .faq-wrapper a{
    margin-inline:auto ;
  }
/*contact*/

.contact{
    margin-top: 5rem;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap:2rem;
    color: var(--clr-white);
}
.contact p{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}
.contact h2{
    font-weight: var(--fw-medium);
    color: var(--clr-white);
}
.contact .form{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.contact input{
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    border: none;
    margin-right: 0.75rem
}
.btn-red{
    background-color: var(--clr-soft-red);
    border-radius: 6px;
    padding: 0.5rem;
    color: #ffffff;
    box-shadow: 1px 3px 10px rgb(0 0 0 / 20%);
}
.btn-red:hover,
.btn-red:focus{
    background-color: #efefef;
    color: var(--clr-soft-red);
    border: 1px solid var(--clr-soft-red);
}

/*footer*/
.footer-nav{
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
}
.footer-nav .footer-nav-items{
    display: flex;
    margin-left: 1rem;
}
.footer-nav .footer-nav-items li a{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    margin: 0 1rem;
}
.footer-nav .footer-social{
    display: flex;
    margin-left: auto;
    gap:2rem;
}





@media (max-width:50em){

    h1{
        font-size: 2rem;
    }

.backdrop[data-visible="true"]{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(5, 6, 43, 0.9);
    overflow-x:hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
} 
.mobile-menu-close{
    cursor: pointer;
    border: 0;
    height: 15px;
    background-color: transparent;
}

.navigation[data-visible="false"]{
    display: none;
}
.navigation[data-visible="true"]{
    display: block;
    position: fixed;
    inset: 4rem 1rem auto;
    padding: 3rem 0.875rem;
    text-align: center;
    z-index: 1000;
}

.navigation li {
    border-top: 1px solid #efefef4b;
    padding: 1.5rem;
}
.navigation li a{
    font-size: var(--fs-nav);
    color: #ffffff;
}
.navigation li .nav-btn{
    cursor: pointer;
    border: 3px solid #efefef;
    border-radius: 10px;
    width: 100%;
    padding: 1rem 0;
    background: transparent;
    text-transform: uppercase;
}

.navigation .social-icons{
    display: block;
    margin-top: 5rem;
}
.navigation .social-icons a{
    padding: 0 1rem;
}
.mobile-menu-toggle{
    display: block;
    cursor: pointer;
    border: 0;
}

.hero .hero-detail{
    grid-template-areas: "hero-image hero-image"
                           "hero-info hero-info" ;
}
.hero .hero-detail .hero-info{
    grid-area: hero-info;
    text-align: center;
}
.hero .hero-info .buttons{
    flex-direction: column;
    gap:2rem;
}
.hero .hero-detail .hero-image{
    grid-area: hero-image;
}

.extension .extension-card{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: auto;
}
.extension .extension-card .card:nth-child(1){
    margin-right: 0;
}
.extension .extension-card .card:nth-child(2){
    margin-right: 0rem;
    margin-top: 2rem;
}
.extension .extension-card .card:nth-child(3){
    margin-right: 0rem;
    margin-top: 2rem;
}
.features .tabs{
    grid-template-columns: 1fr;
    text-align: center;
}
.features .features-intro{
    padding: 0;
}
.features .tabs li{
    margin: 1.5rem 2rem;
}
.features .tab-container .tab-content{
    flex-direction: column;
}
.features .tab-container .tab-content .image-info{
   text-align: center;
}
.features .tab-container .tab-content .image-info a{
    display: none;
}
.features .tabs .active::after {
    content: '';
    position: absolute;
    top: 38px;
    left: 40px;
    height: 3px;
    width: 0;
    background: var(--clr-dark-red);
    animation: red-line 250ms ease-in-out forwards;
}

.accordion{
    padding: 0;
}
.accordion .accordion-item .accordion-heading{
    padding-left: 0;
}
.contact .form{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.footer-nav{
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    place-items: center;
}
.footer-nav .footer-nav-items{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
.footer-nav .footer-social{
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}